@font-face{
    font-family: "Circe";
    src: url(../fonts/Circe-Regular.woff2),
         url(../fonts/Circe-Regular.woff);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "Circe";
    src: url(../fonts/Circe-ExtraLight.woff2),
         url(../fonts/Circe-ExtraLight.woff);
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "Circe";
    src: url(../fonts/Circe-ExtraBold.woff2),
         url(../fonts/Circe-ExtraBold.woff);
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
@font-face{
    font-family: "Circe";
    src: url(../fonts/Circe-Bold.woff2),
         url(../fonts/Circe-Bold.woff);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}